/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Source+Code+Pro:wght@400;500;600&family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

/* You can override the default Infima variables here. */
:root {
  /* Primary colors - green/lime */
  --ifm-color-primary: #89b400;
  --ifm-color-primary-dark: #7ba200;
  --ifm-color-primary-darker: #749900;
  --ifm-color-primary-darkest: #5f7e00;
  --ifm-color-primary-light: #97c500;
  --ifm-color-primary-lighter: #9ecc00;
  --ifm-color-primary-lightest: #b3e600;

  /* Link color */
  --ifm-link-color: #628000;
  --ifm-link-hover-color: #89b400;

  /* Fonts */
  --ifm-font-family-base: 'Lato', Helvetica, Arial, sans-serif;
  --ifm-heading-font-family: 'Zilla Slab', Georgia, serif;
  --ifm-font-family-monospace: 'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --ifm-heading-font-weight: 500;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(137, 180, 0, 0.1);

  /* Heading sizes - batect style */
  --ifm-h2-font-size: 1.85rem;
  --ifm-h3-font-size: 1.7rem;
  --ifm-h4-font-size: 1.3rem;
  --ifm-h5-font-size: 1.2rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Primary colors - dark mode */
  --ifm-color-primary: #a5d610;
  --ifm-color-primary-dark: #95c10e;
  --ifm-color-primary-darker: #8db60e;
  --ifm-color-primary-darkest: #74960b;
  --ifm-color-primary-light: #b5eb12;
  --ifm-color-primary-lighter: #bdf014;
  --ifm-color-primary-lightest: #cef53d;

  /* Link color */
  --ifm-link-color: #a5d610;
  --ifm-link-hover-color: #cef53d;

  --docusaurus-highlighted-code-line-bg: rgba(165, 214, 16, 0.2);
}

/* Navbar styling */
.navbar__title {
  font-family: var(--ifm-heading-font-family);
  font-size: 130%;
}

@media (min-width: 997px) {
  .navbar__logo {
    margin-top: -5px;
  }
}

/* Sidebar menu styling - batect style */
.menu__list-item-collapsible > .menu__link {
  font-family: var(--ifm-heading-font-family);
  font-size: 130%;
  color: #000;
}

[data-theme='dark'] .menu__list-item-collapsible > .menu__link {
  color: #fff;
}

.menu__list-item-collapsible > .menu__link:hover {
  background: none;
}

.menu__list .menu__list {
  margin-left: 0.75rem;
}

.menu__list .menu__list .menu__list {
  margin-left: 1rem;
}

/* Code block styling */
.prism-code {
  border: none;
}

code {
  border: none;
}

/* Highlighted code line */
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
